@font-face {
  font-family: "Open Sans";
  src:  url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}