.app-plus {
  text-align: center;
  padding: 0 40px;
  background-color: #f2f2f2;
}

.app-plus__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}

.app-plus__text {
  font-size: 14px;
  margin-top: 15px;
}

.app-plus__img {
  margin-top: 45px;
  height: 280px;
  overflow: hidden;
}