.app-plus {
  text-align: center;
  padding: 54px 20px 0;
  background-color: #f2f2f2;
  background-image: url(../img/icon/bg-triangle-white.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.app-plus__item {
  margin-top: 30px;
}

.app-plus__title {
  font-weight: 700;
  font-size: 18px;
}

.app-plus__text {
  font-size: 14px;
  margin-top: 12px;
  line-height: 24px;
}

.app-plus__img {
  margin-top: 42px;
  height: 276px;
  overflow: hidden;
}

.app-plus__img-item {
  &:not(:last-of-type) {
    display: none;
  }
}

@media (min-width: 700px) {
  .app-plus {
    display: flex;
    padding: 15px 40px 0;
  } 
  
  .app-plus__group {
    width: 50%;
    padding: 82px 0 0 0;
  }
  .app-plus__item {
    margin-bottom: 35px; 
    text-align: left; 
  }
  .app-plus__img {
    order: -1;
    
    width: 50%;
    height: 481px;
  }
  .app-plus__img-item {
    &:last-of-type {
      display: flex;
    }
  }
}


  
@media (min-width: 1200px) {
  .app-plus {
    flex-wrap: wrap;
  }
  .app-plus__img {
    width: 100%;
    height: 311px;
    display: flex;
  }
  .app-plus__img-item {
    width: 33%;
    &:not(:last-of-type) {
      display: block;
    }
  }
  .app-plus__group {
    display: flex;
    width: 100%;
  }
}