
.contest-form__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #283645;
  padding: 0 20px 42px;
  background-color: #f2f2f2;
  &--full-name,
  &--contact {
    text-transform: uppercase;
    color: #d22856;
    background-color: #ffffff; /* белый бэкграунд формы */
  }
  &--recall {
    background-color: #ffffff; /* белый бэкграунд формы */
    
    
  }
  &--submit {
    text-align: center;
    background-color: #ffffff; /* белый бэкграунд формы */
    display: flex;
    flex-direction: column;
    
    & span {
      margin-top: 30px;
    }
    & sup { /* "*" */
      color: #d22856;
    }
  }
}


.contest-form__label {  /* text-input rules */
  display: block;
  width: 100%;
  margin: 26px 0 0 23px;
  
  &--checkbox { /* выставляю лейблы с запасом под инпут */
    margin: 64px 0 0 70px;
    &:first-of-type {
      margin-top: 52px 0 0 70px;
    }
  }
  &--radio {
    margin: 60px 0 0 70px;
    &:first-of-type {
      margin-top: 50px 0 0 70px;
    }
    
  }
}

.contest-form__input { /* text-input rules */
  width: 100%;
  height: 63px;
  margin-top: 14px;
  padding: 24px 20px 20px 20px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #283645;
  &--recall {
    padding: 25px 30px 25px 21px;
    height: 200px;
  }
  &--checkbox { /* отключение дефолтных инпутов */
    display: none;
    
    & + label {
      position: relative;
      cursor: pointer;
    }
    & + label:before { /* выкл */
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 39px;
      height: 39px;
      box-sizing: border-box;
      border: 2px solid #e5e5e5;
      background-color: #ffffff;
    }
    &:checked + label:after { /* checked */
      content: "";
      position: absolute;
      top: -4px;
      left: -54px;
      width: 22px;
      height: 16px;
      box-sizing: border-box;
      background-image: url(../img/icon/icon-yes-form.svg)
    }
  }
  &--radio {  /* отключение дефолтных инпутов */
    display: none;
    
    & + label {
      position: relative;
      cursor: pointer;
    }
    & + label:before { /* выкл */
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 39px;
      height: 39px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid #e5e5e5;
      background-color: #ffffff;
    }
    &:checked + label:after { /* checked */
      content: "";
      position: absolute;
      top: -5px;
      left: -55px;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #d22856;
    }
  }
}


.contest-form__legend {
  padding: 41px 20px 0;  /* для отступа */

  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  background-color: #f2f2f2; /* серый бэкграунд формы */
  width: 100%;
  &--recall {
    background-color: #ffffff;
  }
}


.contest-form__btn {
  @include rbtn();
  border: none;
  border-radius: 0;
  background-color: #2aab6d;
  text-transform: uppercase;
}


@media (min-width: 700px) {
  .contest-form {
    display: flex;
    flex-wrap: wrap;
  }
  .contest-form__group {
    background-color: #ffffff;  /* убрал серый бекграунд */
    padding: 0 40px 42px;  
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    &--full-name {
      padding: 0 0 42px;
    }
    &--contact {
      padding: 0 60px 42px;
    }
    &--submit {
      margin-top: 30px;
      flex-direction: row;
      justify-content: space-between;
      & span {
      margin-top: 0;
      display: flex;
      align-items: center;
      }
    }    
  }
  .contest-form__btn {
    margin: 0;
  }
  .contest-form__label {  /* text-input rules */
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    &--radio {
      width: 100%;
    }
    &--checkbox {
      width: 36%;
    }
    &--phone,
    &--email { /* отдельно стилизация телефонно - почтовых лейблов */
      margin: 20px 0 0 20px;
    }
  }
  .contest-form__input { /* text-input rules */
    width: auto;
    flex-grow: 1;
    &--phone,
    &--email { /* отдельно стилизация телефонно - почтовых инпутов */
      margin: 0;
      order: -1;
      width: 100%;
    }
  }
  .contest-form__field {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    width: 100%;
    &--first {  /* "Фамилия" */
      margin-top: 0;
    }
    &--phone { /* модификатор для добавления картинок на псевдо */
      position: relative;
      &:after {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #e5e5e5;
        background-image: url(../img/icon/icon-phone.svg);
        background-size: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
    &--email { /* модификатор для добавления картинок на псевдо */
      position: relative;
      &:after {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #e5e5e5;
        background-image: url(../img/icon/icon-mail.svg);
        background-size: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }  
  }
  .contest-form__legend {
    width: auto;
      /* для отступа от бордеров филдсета */
    
    margin: 0;
    padding: 0 30px;
    background-color: #ffffff;
  }
}


@media (min-width: 1200px) {
  .contest-form {
    padding: 0 130px;
  }
  .contest-form__group {
    
    &--full-name {
      padding: 0;
    }
  }
  .contest-form__field {
    
    &--full-name {
      flex-direction: row;
    }
    &--phone {
      width: 375px;
    }
    &--email {
      width: 375px;
      margin-left: 60px;
    }
  }
  .contest-form__input { 
   
    
    &--full-name {
       margin: 0 0 0 30px;
    }
    
  }
  .contest-form__label {
    
    &--checkbox {
      width: 25%;
    }
  }
}