.container {
  
  min-width: 320px;
  margin: 0 auto;
  border: 1px solid black;
}


@media (min-width: 700px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}