.feedback {
  padding: 43px 20px 30px;
  text-align: center;
}

.feedback__title {
  font-size: 24px;
  font-weight: 300;
}

.feedback__item {
  margin-top: 20px;
  & b {
    
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
  }
  &--first {
    margin-top: 30px;
  }
}

.feedback__text {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}


@media (min-width: 700px) {
  .feedback {
    padding: 56px 71px 25px; 
    display: flex;
    flex-wrap: wrap;
  }
  .feedback__title {
    margin: 0 90px;
    width: 100%;
    display: block;
    font-size: 40px;
  }
  .feedback__item {
    width: 50%; 
    margin: 34px auto 0;
    &--last{
      margin-top: 47px;
    }
  }
}

@media (min-width: 1200px) {
  .feedback {
    padding: 56px 130px 20px; 
  }
  .feedback__title {
    margin: 0 210px;
  }
  .feedback__item {
    width: 33.333%; 
  }
}


