.logo {
  background-color: #283645;
  padding: 20px 20px 19px;
  position: relative;
  
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/icon-menu-cross.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  & svg {
    fill: #ffffff;
  }
 
}

.logo__img {
  & svg {
    fill: #ffffff;
  }
}

@media (min-width: 700px) {
  .logo {
    padding: 26px 40px 38px;
    &:after {
      top: 44px;
      right: 39px;
    }
  }
  
  .logo__img {
    width: 147px;
    height: 40px;
    & img {
      width: 147px;
      height: 40px;  
       &:hover {
        fill: #d22856;  /*  !!!!!!   */
      }
      &:active {
        opacity: 0.3;
      }
    }
  } 
}

@media (min-width: 1200px) {
  .logo {
    position: absolute;
    background-color: transparent;
    width: 20%;
    z-index: 1;
    padding: 26px 0 38px 128px;
    &:after {
      display: none;
    }
    
  }
  .logo__img {
    fill: #fff;
  }
}