.main-menu__link {
  display: block;
  background-color: #283645;
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  box-shadow: inset  0px -1px 0 0px #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: 1200px) {
  .main-menu  {
    position: absolute;
    width: 1200px;
    height: 110px;
    background-color: rgba(255,255,255,0.1);
    & ul {
      display: flex;
      justify-content: space-between;
      width: 620px;
      margin-left: 450px;
    }
  }
  .main-menu__link {
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    background-color: transparent;
    text-transform: initial;
    box-shadow: none;
  }
  .main-menu__item {
    padding: 47px 0;
  }
}