.mobile-app {
  padding: 27px 20px 28px;
  background-color: #283645;
  text-align: center;
}

.mobile-app__download {
  @include rbtn();
  &:hover {
    background-color: #fff;
    color: #d22856;
    transition-duration: 0.5s;
  }
  &:active{
    background-color: #fff;
    color: #d22856;
    opacity: 0.3;
  }
}

.mobile-app__title {
  display: none;
}

.mobile-app__logo {
  margin-top: 29px;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.mobile-app__text {
  font-size: 14px;
  font-weight: 300;
  margin-top: 26px;
  line-height: 24px;
  color: #fff;
  
}



@media (min-width: 700px) {
  .mobile-app {
    background-color: transparent;
    position: absolute;
    top: -618px;
    left: 20px;
    width: 350px;
    padding: 90px 20px;
  }
  .mobile-app__title {
    margin: 0 57px;
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    color: #fff;
    display: block;
  }
  .mobile-app__download {
    margin-top: 29px;
  }
  .mobile-app__logo {
    margin-top: 45px;
    padding: 0 28px;
  }
  .mobile-app__text {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .mobile-app {
    top: -718px;
    width: 600px;
    padding: 82px 4px;
  }
  .mobile-app__title {
    margin: 0 140px 0 137px;
    font-size: 50px;
    line-height: 60px;
  }
  .mobile-app__download {
    margin-top: 53px;
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
  }
  .mobile-app__logo {
    margin-top: 66px;
    padding: 0 136px;
  }
  .mobile-app__text {
    margin: 54px 90px 0;
  }
  
}