.mobile-app {
  padding: 27px 20px 28px;
  background-color: #283645;
  text-align: center;
}

.mobile-app__download {
  @include rbtn();
}

.mobile-app__title {
  display: none;
}

.mobile-app__logo {
  margin-top: 29px;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.mobile-app__text {
  font-size: 14px;
  font-weight: 300;
  margin-top: 26px;
  line-height: 24px;
  color: #fff;
  
}



@media (min-width: 700px) {
  .mobile-app {
    background-color: transparent;
    position: absolute;
    top: -618px;
    left: 20px;
    width: 42.8%;
    padding: 100px 20px;
  }
  .mobile-app__title {
    margin: 0 57px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    display: block;
  }
  .mobile-app__download {
    margin-top: 39px;
    
  }
  .mobile-app__logo {
    margin-top: 52px;
  }
  .mobile-app__text {
    margin-top: 44px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .mobile-app {
    top: -848px;
  }
}