.price {
  background-color: #f2f2f2;
  padding: 91px 20px 30px;
  background-image: url(../img/icon/bg-triangle-white.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.price__table {
  width: 100%;
  border-collapse: collapse;
  
}

.price__header:not(:nth-of-type(3)),
.price__include:not(:nth-of-type(1)) {
  display: none;
}

.price__header {
  background-color: #283645;  
  color: #fff;
  text-transform: uppercase;
  width: 156px;
  height: 99px;
  position: relative;
  &:nth-of-type(3) {
    column-span: all;
  }
  &:nth-of-type(3),
  &:nth-of-type(4) {
    border-left: 2px solid #fff;
  }
}

.price__include {
  background-color: #fff;
  line-height: 58px;
  border: 2px solid #e5e5e5;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  &:first-of-type {
    text-align: left;
    padding-left: 20px;
    min-width: 157px;
  }
  &--yes:after {
    content: "";
    background-image: url(../img/icon/icon-yes.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  &--no:after {
    content: "";
    background-image: url(../img/icon/icon-no.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    right: 20px;
    top: 14px;
  }
  
}



.price__hit {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  & small {
    top: 11px;
    left: 8px;
    position: absolute;
    transform: rotate(-45deg);
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
  }
  & svg {
    top: 0;
    left: -2px;
    position: absolute;
  }
}

.price__title {
  font-size: 18px;
  font-weight: 700;
}

.price__value {
  font-size: 24px;
  font-weight: 300;
}


.price__slide {
  text-align: center;
  width: 75px;
  margin: 42px auto 0;
}

.price__switch {
  @include switch();
}



@media (min-width: 700px) {
  .price {
    padding: 56px 40px 50px;
  }
  .price__slide {
    display: none;
  }
  .price__header {
    width: 157px;
    height: 79px;
    padding: 6px 0 0px;
    box-sizing: border-box;
    &:first-of-type {
      opacity: 0;  
      width: 140px;
    }
  }
  .price__include {
    line-height: 43px;
    box-sizing: border-box;
    &--yes:after,
    &--no:after {
      display: none;
    }
    &:first-of-type {
      padding-left: 15px;
      font-size: 14px;
      width: 140px;
      text-transform: initial;
    }
    & svg {
      width: 50px;
      height: 30px;
      margin: 5px 0 -5px;
    }
  }
  .price__hit {
    & svg {
      margin-left: -2px;
    }
  }
  .price__title {
    font-size: 16px;
    line-height: 30px;
  }
  .price__value {
    font-size: 18px;
    line-height: 30px;
  }
  
  
  
  .price__header:not(:nth-of-type(3)),
  .price__include:not(:nth-of-type(1)) {
    display: table-cell;
  }
  
}


@media (min-width: 1200px) {
  .price {
    padding: 80px 130px 50px;
  }
  
}