.recall {
  padding: 30px 20px;
  text-align: center;
}

.recall__author-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
.recall__author-bio {
  display: none;
}

.recall__text {
  margin-top: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.recall__slide {
  margin: 35px 105px 0;
  width: 85px;
}

.recall__switch {
  @include switch();
}

@media (min-width: 700px) {
  .recall {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }
  .recall__text {
    order: -1;
  }
  .recall__author-name {
    margin-top: 44px; 
    font-size: 20px;
  }
  .recall__author-bio {
    display: block;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .recall {
  position: relative;
  padding: 100px 130px 50px;
    &:before {
      content: "";
      position: absolute;
      top: 113px;
      left: 130px;
      width: 22px;
      height: 41px;
      background-image: url(../img/icon/icon-review-arrow-left.svg);
      cursor: pointer;
    }
    &:after {
      content: "";
      position: absolute;
      top: 113px;
      right: 130px;
      width: 22px;
      height: 41px;
      background-image: url(../img/icon/icon-review-arrow-right.svg);
      cursor: pointer;
    }
  }
  
  .recall__slide {
    display: none;
  }
  .recall__text { 
    margin: 15px 110px 0; 
    font-size: 18px;
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 47%;
      width: 79px;
      height: 63px;
      background-image: url(../img/icon/icon-quotes.svg);
    }
  }
  
}