.recall {
  padding: 20px;
  text-align: center;
}

.recall__author-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
.recall__author-bio {
  display: none;
}

.recall__text {
  margin-top: 15px;
  fint-size: 14px;
  font-weight: 400;
}

.recall__slide {
  margin-top: 15px;
}

.recall__switch {
  @include switch();
}

@media (min-width: 700px) {
  .recall {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }
  .recall__text {
    order: -1;
  }
  .recall__author-name {
    margin-top: 44px; 
    font-size: 20px;
  }
  .recall__author-bio {
    display: block;
    font-size: 14px;
  }
}